.dish {
  width: 470px;
  height: 160px;
  margin-bottom: 22px;
}

.dish__basket {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  height: inherit;
  width: inherit;
  border: 1px solid hsla(0, 0%, 45.9%, 0.2);
  box-sizing: border-box;
  border-radius: 2px;
}

.dish__basket:hover {
  background: var(--border_light_grey);
}

.dish__content {
  padding-left: 16px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dish__title {
  font-weight: normal;
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 0;
  font-family: var(--main_font);
  line-height: 24px;
  color: var(--font_black);
  text-decoration: none;
}

.dish__options {
  font-family: var(--main_font);
  font-size: 13px;
  line-height: 21px;
  color: var(--font_grey);
  margin-top: 4px;
  margin-bottom: 0;
}

.dish__price {
  font-family: var(--main_font);
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: var(--font_black);
}

.dish__photo-preview {
  width: 170px;
  height: 160px;
  flex-shrink: 0;
}
