.restaurantPage__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.restaurantPage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-self: center;
  width: 956px;
}

.restaurantPage__title {
  font-family: var(--main_font);
  font-size: 22px;
  line-height: 34px;
  color: var(--font_black);
  align-self: flex-start;
  margin: 56px 0 16px;
}

.restaurantPage__list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
}
